/* HEADER */
header {
    height: 125px;
    display: flex;
    flex-direction: row;
    background-color: #C25100;
    margin: 0;
    padding: 0;
    position: relative;
}
header h1, header h1 a {
    color: #f0a90f;
    font-size: 36pt;
    text-decoration: none;
}
.title-bar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
}
.user-bar {
    background: rgb(182, 108, 82);
    border: 1px solid orangered;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: #ffffff;
    float: right;
    font-size: 12pt;
    margin: 0 2px 0 0;
    padding: 0;
    height: 25px;
    position: absolute;
    top: 0;
    right: 5;
}
.user-bar li {
    padding: 0 5px;
}
.post-controls {
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 5;
}

/* CONTENT */
.content {    
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main {
    padding: 10px;
    margin: 5px;
    border: 1px solid orangered;
    width: 72%
}
.sidebar {
    padding: 5px;
    margin: 5px;
    position: absolute;
    right: 5;
    border: 1px solid orangered;
    background: rgb(252, 211, 184);
    width: 22%;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.post {
    padding: 10px 10px 50px 10px;
    font-size: 14px;
}
.post-detail {
    padding: 10px 10px 50px 10px;
    font-size: 14px;
    border: 1px solid orangered;
}
.post h2 a, .post h2 a:visited {
    color: #000000;
}
.comment-section {
    border: 1px solid orangered;
    background-color: rgb(255, 235, 183);
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
}
.comment-header {
    background-color: rgb(255, 212, 163);
    padding: 10px 0px 10px 20px
}
.comment {
    background-color: lightgoldenrodyellow;
    margin: 10px 10px 10px 10px;
    border: 1px solid orangered;
}
.date {
    color: #ce810d;
}
.content {
    margin-left: 40px;
}

/* GENERAL */
a {
    color: #f0a90f;
}
body :hover {
    color: orangered;
}
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

/* BUTTONS */
.save {
    float: right;
}
.btn {
    background: lightgoldenrodyellow;
    border: 1px solid orangered;
    border-radius: 5px;
}