{% load static %}
<html>

    <head>

        <title>D-Lyrium's Polls App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">

    </head>

    <body>
        <header class="header">
            <ul class="title-bar">
                <li><a href="/"> Home</a></li>
                <li><h1><a href="/polls">D-Lyrium's Polls App</a></h1></li>
            </ul>  
            {% if user.is_authenticated %}
            <ul class="user-bar">
                <li>Hello, {{ user.username }}!
                <li><a href="/admin/" class="small-icon">[Admin]</a></li>
                <li><a href="{% url 'logout' %}" class="small-icon">[Log out]</a></li>
            </ul>
            <ul class="post-controls">
                {# Polls has none yet  #}
            </ul>
            {% else %}
            <ul class="user-bar">
                <li><a href="{% url 'login' %}" class="top-menu">
                    <span class="glyphicon glyphicon-lock"></span></a></li>
            </ul>
            {% endif %}
      
        </header>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>

        <footer class="footer">
        </footer>
    </body>

</html>