{% load static %}
<html>

    <head>

        <title>D-Lyrium's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">

    </head>

    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
            <small>
                <p class="top-menu">Hello, {{ user.username }}!
                    <a href="/admin/" class="small_icon">[Admin]</a>
                    <a href="{% url 'logout' %}" class="small_icon">[Log out]</a>
            <br>
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_unpub' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            </small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <small><a href="/"> Home</a>
            <h1><a href="/blog">D-Lyrium's Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>