{% load static %}
<html>
    <head>

        <title>D-Lyrium's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">

    </head>

    <body>
        <header class="header">
                <ul class="title-bar">
                    <li><a href="/"> Home</a></li>
                    <li><h1><a href="/blog">D-Lyrium's Blog</a></h1></li>
                </ul>
                {% if user.is_authenticated %}

                <ul class="user-bar">
                    <li>Hello, {{ user.username }}!</li>
                    <li><a href="/admin/">[Admin]</a></li>
                    <li><a href="{% url 'logout' %}">[Log out]</a></li>
                </ul>
                <ul class="post-controls">
                        <li><a href="{% url 'post_new' %}" class="top-menu">
                            <span class="glyphicon glyphicon-plus"></span></a></li>
                        <li><a href="{% url 'post_unpub' %}" class="top-menu">
                            <span class="glyphicon glyphicon-edit"></span></a></li>
                </ul>
            {% else %}
            <ul class="user-bar">
                <li><a href="{% url 'login' %}" class="top-menu">
                    <span class="glyphicon glyphicon-lock"></span></a></li>
            </ul>

            {% endif %}            


        </header>

        <div class="content">
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
            <div class="sidebar">
                {% include "polls/questions.html" %}
            </div>
        </div>

        <footer class="footer">
        </footer>
    </body>

</html>