/* HEADER */
header {
    height: 125px;
    display: flex;
    flex-direction: row;
    background-color: #0d5322;
    margin: 0;
    padding: 0;
    position: relative;
}
header h1, header h1 a {
    color: rgb(14, 207, 24);
    font-size: 36pt;
    text-decoration: none;
}
.title-bar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
}
.user-bar {
    background: rgb(192, 255, 168);
    border: 1px solid rgb(9, 248, 1);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: #000000;
    float: right;
    font-size: 12pt;
    margin: 0 2px 0 0;
    padding: 0;
    height: 25px;
    position: absolute;
    top: 0;
    right: 5;
}
.user-bar li {
    padding: 0 5px;
}
.post-controls {
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 5;
}

/* CONTENT */
body{
    position: relative;
}
.content {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main {
    padding: 10px;
    margin: 5px;
    border: 1px solid green;
    width: 75%;
}
.questions {
    padding: 10px;
    margin: 5px;
    position: absolute;
    right: 5;
    border: 1px solid green;
    background: rgb(161, 241, 161);
    width: 22%;
}
.questions ul {
    list-style-type: none;
}
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.date {
    color: #095806;
}
a {
    color: rgb(27, 150, 37)
}
body :hover {
    color: rgb(17, 192, 26);
}